In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./OUTPUT/whatsapp.csv')

- número de mensajes por usuario

In [21]:
a = df['users'].value_counts().keys()
b = df['users'].value_counts().values

In [27]:
c = [x for x in a]
d = [x for x in b]

In [51]:
e = []
for x in range(len(c)):
    e.append(([c[x]],f'{d[x]} mensajes',f'{round((d[x]/39933)*100,2)}%'))
e

[(['Jorge'], '10234 mensajes', '25.63%'),
 (['Ivan'], '6723 mensajes', '16.84%'),
 (['Alvarito'], '6096 mensajes', '15.27%'),
 (['Pete'], '5377 mensajes', '13.47%'),
 (['Alvaro'], '4249 mensajes', '10.64%'),
 (['Eku'], '2491 mensajes', '6.24%'),
 (['Jose'], '1978 mensajes', '4.95%'),
 (['Antoñito'], '578 mensajes', '1.45%'),
 (['Pinedo'], '534 mensajes', '1.34%'),
 (['Rafa'], '455 mensajes', '1.14%'),
 (['Laura'], '375 mensajes', '0.94%'),
 (['Fonseca'], '306 mensajes', '0.77%'),
 (['Chema'], '274 mensajes', '0.69%'),
 (['Marlena'], '140 mensajes', '0.35%'),
 (['Juli'], '123 mensajes', '0.31%')]

- número de mensajes multimedia por usuario (stickers, videos, fotos...) NO ENLACES

In [62]:
a = df['messages'] == '<Multimedia omitido>'
b = df[a]

In [63]:
c = b['users'].value_counts().keys()
d = b['users'].value_counts().values

In [69]:
e = [x for x in c]
f = [x for x in d]

['Jorge',
 'Ivan',
 'Alvaro',
 'Alvarito',
 'Eku',
 'Pete',
 'Jose',
 'Rafa',
 'Antoñito',
 'Pinedo',
 'Chema',
 'Fonseca',
 'Laura',
 'Juli',
 'Marlena']

In [70]:
g = []
for x in range(len(e)):
    g.append(([e[x]],f'{f[x]} mensajes',f'{round((f[x]/6950)*100,2)}%'))
g

[(['Jorge'], '2386 mensajes', '34.33%'),
 (['Ivan'], '1148 mensajes', '16.52%'),
 (['Alvaro'], '1084 mensajes', '15.6%'),
 (['Alvarito'], '909 mensajes', '13.08%'),
 (['Eku'], '497 mensajes', '7.15%'),
 (['Pete'], '431 mensajes', '6.2%'),
 (['Jose'], '215 mensajes', '3.09%'),
 (['Rafa'], '59 mensajes', '0.85%'),
 (['Antoñito'], '51 mensajes', '0.73%'),
 (['Pinedo'], '45 mensajes', '0.65%'),
 (['Chema'], '36 mensajes', '0.52%'),
 (['Fonseca'], '29 mensajes', '0.42%'),
 (['Laura'], '28 mensajes', '0.4%'),
 (['Juli'], '19 mensajes', '0.27%'),
 (['Marlena'], '13 mensajes', '0.19%')]

- Pruebas cálculo usuarios similares

In [76]:
res =[{'Alvarito': 0.40593504020331955},
 {'Alvaro': 0.43905815644398055},
 {'Antoñito': 0.4272909847390273},
 {'Chema': 0.45713943192949},
 {'Eku': 0.4003010257924596},
 {'Fonseca': 0.44801133300017654},
 {'Ivan': 0.44453387445020714},
 {'Jorge': 0.4184848081701536},
 {'Jose': 0.3701784916667779},
 {'Juli': 0.4492176790544325},
 {'Laura': 0.4061256302519465},
 {'Marlena': 0.3280034990698869},
 {'Pete': 0.37095341676139687},
 {'Pinedo': 0.43487543295477027},
 {'Rafa': 0.40435755998284234}]

In [77]:
me = {}
for e in res:
    me.update(e)
me

{'Alvarito': 0.40593504020331955,
 'Alvaro': 0.43905815644398055,
 'Antoñito': 0.4272909847390273,
 'Chema': 0.45713943192949,
 'Eku': 0.4003010257924596,
 'Fonseca': 0.44801133300017654,
 'Ivan': 0.44453387445020714,
 'Jorge': 0.4184848081701536,
 'Jose': 0.3701784916667779,
 'Juli': 0.4492176790544325,
 'Laura': 0.4061256302519465,
 'Marlena': 0.3280034990698869,
 'Pete': 0.37095341676139687,
 'Pinedo': 0.43487543295477027,
 'Rafa': 0.40435755998284234}

In [78]:
b = pd.DataFrame(me,index=['Scores']).T
b

            Scores
Alvarito  0.405935
Alvaro    0.439058
Antoñito  0.427291
Chema     0.457139
Eku       0.400301
Fonseca   0.448011
Ivan      0.444534
Jorge     0.418485
Jose      0.370178
Juli      0.449218
Laura     0.406126
Marlena   0.328003
Pete      0.370953
Pinedo    0.434875
Rafa      0.404358

In [79]:
from scipy.spatial.distance import pdist, squareform

In [80]:
prueba = pd.DataFrame(1/(1 + squareform(pdist(b, 'euclidean'))),
                         index=b.index, columns=b.index)
prueba

,Alvarito,Alvaro,Antoñito,Chema,Eku,Fonseca,Ivan,Jorge,Jose,Juli,Laura,Marlena,Pete,Pinedo,Rafa
Alvarito,1.000000,0.967939,0.979091,0.951290,0.994398,0.959623,0.962836,0.987606,0.965478,0.958513,0.999809,0.927703,0.966201,0.971874,0.998425
Alvaro,0.967939,1.000000,0.988370,0.982240,0.962689,0.991126,0.994554,0.979841,0.935559,0.989943,0.968117,0.900046,0.936238,0.995835,0.966463
Antoñito,0.979091,0.988370,1.000000,0.971017,0.973719,0.979700,0.983049,0.991271,0.945973,0.978544,0.979273,0.909680,0.946667,0.992473,0.977581
Chema,0.951290,0.982240,0.971017,1.000000,0.946218,0.990954,0.987551,0.962784,0.919996,0.992141,0.951462,0.885633,0.920653,0.978221,0.949864
Eku,0.994398,0.962689,0.973719,0.946218,1.000000,0.954462,0.957641,0.982141,0.970758,0.953365,0.994209,0.932577,0.971489,0.966581,0.995960
Fonseca,0.959623,0.991126,0.979700,0.990954,0.954462,1.000000,0.996535,0.971320,0.927788,0.998795,0.959798,0.892851,0.928455,0.987034,0.958172
Ivan,0.962836,0.994554,0.983049,0.987551,0.957641,0.996535,1.000000,0.974612,0.930791,0.995338,0.963012,0.895632,0.931463,0.990434,0.961375
Jorge,0.987606,0.979841,0.991271,0.962784,0.982141,0.971320,0.974612,1.000000,0.953920,0.970183,0.987792,0.917026,0.954625,0.983874,0.986070
Jose,0.965478,0.935559,0.945973,0.919996,0.970758,0.927788,0.930791,0.953920,1.000000,0.926750,0.965300,0.959532,0.999226,0.939234,0.966951
Juli,0.958513,0.989943,0.978544,0.992141,0.953365,0.998795,0.995338,0.970183,0.926750,1.000000,0.958688,0.891890,0.927416,0.985861,0.957066
Laura,0.999809,0.968117,0.979273,0.951462,0.994209,0.959798,0.963012,0.987792,0.965300,0.958688,1.000000,0.927539,0.966023,0.972054,0.998235
Marlena,0.927703,0.900046,0.909680,0.885633,0.932577,0.892851,0.895632,0.917026,0.959532,0.891890,0.927539,1.000000,0.958819,0.903447,0.929062
Pete,0.966201,0.936238,0.946667,0.920653,0.971489,0.928455,0.931463,0.954625,0.999226,0.927416,0.966023,0.958819,1.000000,0.939919,0.967676
Pinedo,0.971874,0.995835,0.992473,0.978221,0.966581,0.987034,0.990434,0.983874,0.939234,0.985861,0.972054,0.903447,0.939919,1.000000,0.970386
Rafa,0.998425,0.966463,0.977581,0.949864,0.995960,0.958172,0.961375,0.986070,0.966951,0.957066,0.998235,0.929062,0.967676,0.970386,1.000000

In [87]:
similarities = prueba['Jose'].sort_values(ascending=False)[1:]
similarities

Pete        0.999226
Eku         0.970758
Rafa        0.966951
Alvarito    0.965478
Laura       0.965300
Marlena     0.959532
Jorge       0.953920
Antoñito    0.945973
Pinedo      0.939234
Alvaro      0.935559
Ivan        0.930791
Fonseca     0.927788
Juli        0.926750
Chema       0.919996
Name: Jose, dtype: float64