In [1]:
import pandas as pd

In [112]:
df = pd.read_fwf('./INPUT/whatsapp.txt')

In [113]:
df = df.drop(columns=list(df.columns[1:]))

In [114]:
df = df.rename(columns={df.columns[0]: 'beginning'})

In [115]:
df = df.dropna()

In [116]:
df['todrop'] = df['beginning'].apply(lambda x: 'no' if '/' in x else 'yes')

In [117]:
noInfo = df[df['todrop'] == 'yes'].index

In [118]:
df = df.drop(noInfo)

In [119]:
df = df.drop(columns='todrop')

In [120]:
df2 = df.beginning.str.split(expand=True)

In [121]:
df2 = df2.drop(columns=list(df2.columns[4:]))

In [122]:
df2['raw'] = df['beginning']

In [123]:
df2 = df2.drop(columns=2)

In [124]:
df2[3] = df2[3].astype('str')

In [125]:
df2['users'] = df2[3].apply(lambda x: x.replace(":", ""))

In [126]:
chat_users = list(df2['users'].value_counts()[:15].keys())

In [127]:
df2['todrop'] = df2['users'].apply(lambda x: 'yes' if x not in chat_users else 'no')

In [128]:
no_users = df2[df2['todrop'] == 'yes'].index

In [129]:
df2 = df2.drop(no_users)

In [130]:
df2 = df2.drop(columns='todrop')

In [131]:
df2['messages'] = df2['raw'].apply(lambda x: x.split(":")[-1].strip())

In [132]:
df2 = df2.drop(columns=3)

In [133]:
df2 = df2.drop(columns='raw')

In [134]:
df2

,0,1,users,messages
0,25/6/19,20:57,Alvarito,Isma sal de ahi
1,25/6/19,20:57,Alvarito,Sino caeras
2,25/6/19,21:11,Eku,Q va cabr칩n
3,25/6/19,21:11,Eku,C칩mo voy a caeer
4,25/6/19,21:11,Eku,"Por cierto, ayer el chiringuito, 1h de f칰tbol ..."
...,...,...,...,...
41777,21/2/20,9:48,Jorge,A m칤 me ha castigado Dios con el resfriado. Qu...
41786,21/2/20,9:49,Jorge,Solo a ti se te ocurre montar un plan con los ...
41787,21/2/20,9:54,Alvarito,Que buenooo
41788,21/2/20,9:54,Alvarito,Ummmmm nunca sabras q puede pasar
41789,21/2/20,10:01,Pete,"cuento con anto침ito, a ver q logistica usa"

In [136]:
df2['date'] = df2[0].apply(lambda x: x.replace("/", "-"))

In [137]:
df2 = df2.drop(columns=0)

In [138]:
df2 = df2.rename(columns={1:'hour'})

In [139]:
df2

,hour,users,messages,date
0,20:57,Alvarito,Isma sal de ahi,25-6-19
1,20:57,Alvarito,Sino caeras,25-6-19
2,21:11,Eku,Q va cabr칩n,25-6-19
3,21:11,Eku,C칩mo voy a caeer,25-6-19
4,21:11,Eku,"Por cierto, ayer el chiringuito, 1h de f칰tbol ...",25-6-19
...,...,...,...,...
41777,9:48,Jorge,A m칤 me ha castigado Dios con el resfriado. Qu...,21-2-20
41786,9:49,Jorge,Solo a ti se te ocurre montar un plan con los ...,21-2-20
41787,9:54,Alvarito,Que buenooo,21-2-20
41788,9:54,Alvarito,Ummmmm nunca sabras q puede pasar,21-2-20
41789,10:01,Pete,"cuento con anto침ito, a ver q logistica usa",21-2-20

In [2]:
import pandas as pd

In [30]:
fechas = list(df['date'].value_counts().keys())

In [39]:
filtro = df[df['date'] == fechas[0]]
usuarios = list(filtro['users'].value_counts().keys())

In [ ]:
for fecha in fechas:

In [51]:
df2 = df2.rename(columns={0:'date',1:'hour'})

In [53]:
df2.to_csv("./OUTPUT/whatsapp.csv")

In [30]:
df = pd.read_csv('./OUTPUT/whatsapp.csv')

In [59]:
list(df['users'].value_counts().keys())

['Jorge',
 'Ivan',
 'Alvarito',
 'Pete',
 'Alvaro',
 'Eku',
 'Jose',
 'Anto침ito',
 'Pinedo',
 'Rafa',
 'Laura',
 'Fonseca',
 'Chema',
 'Marlena',
 'Juli']

In [2]:
from pymongo import MongoClient
import requests

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/apichat")

# Reading database collections
users = client.get_default_database()['users']
chats = client.get_default_database()['chats']
conversations = client.get_default_database()['conversations']

In [92]:
y = requests.get("http://localhost:5000//get/messages/Marlena").json()

In [94]:
y[0]['message']

'Y el seguro ese de tu madre que me pagan por parir'

In [79]:
data2 = list(conversations.find({'chat_id':238},{'_id':0}))
data2

[{'chat_id': 238,
  'conversation_id': 6548,
  'datetime': '5-8-19 0:15',
  'message': 'Curro',
  'user_id': 2},
 {'chat_id': 238,
  'conversation_id': 6549,
  'datetime': '5-8-19 0:15',
  'message': 'Jajajaj',
  'user_id': 2},
 {'chat_id': 238,
  'conversation_id': 6550,
  'datetime': '5-8-19 0:15',
  'message': 'Ha ha ha',
  'user_id': 2},
 {'chat_id': 238,
  'conversation_id': 6551,
  'datetime': '5-8-19 8:37',
  'message': '2 de septiembre',
  'user_id': 1},
 {'chat_id': 238,
  'conversation_id': 6552,
  'datetime': '5-8-19 21:57',
  'message': 'Donde and치is los buyuyus?',
  'user_id': 14},
 {'chat_id': 238,
  'conversation_id': 6553,
  'datetime': '5-8-19 22:41',
  'message': '00 a los bestias al striptease',
  'user_id': 0},
 {'chat_id': 238,
  'conversation_id': 6554,
  'datetime': '5-8-19 22:53',
  'message': 'Uuuuuuuuuu',
  'user_id': 2},
 {'chat_id': 238,
  'conversation_id': 6555,
  'datetime': '5-8-19 23:27',
  'message': '<Multimedia omitido>',
  'user_id': 9},
 {'chat_id': 238,
  'conversation_id': 6556,
  'datetime': '5-8-19 23:48',
  'message': '游뱎',
  'user_id': 1}]

In [4]:
y = requests.get("http://localhost:5000//get/info/4-8-19").json()
y

[{'conversation_id': 6533,
  'datetime': '4-8-19 20:07',
  'message': '<Multimedia omitido>',
  'user_id': 6},
 {'conversation_id': 6534,
  'datetime': '4-8-19 20:27',
  'message': 'Triste realidad',
  'user_id': 1},
 {'conversation_id': 6535,
  'datetime': '4-8-19 20:44',
  'message': 'Ivan',
  'user_id': 2},
 {'conversation_id': 6536,
  'datetime': '4-8-19 20:44',
  'message': 'Q no sabemos nada de ti',
  'user_id': 2},
 {'conversation_id': 6537,
  'datetime': '4-8-19 21:19',
  'message': 'Que tal vais por alli?',
  'user_id': 7},
 {'conversation_id': 6538,
  'datetime': '4-8-19 21:22',
  'message': '游',
  'user_id': 5},
 {'conversation_id': 6539,
  'datetime': '4-8-19 21:24',
  'message': 'Qu칠 quires saber hermoso',
  'user_id': 1},
 {'conversation_id': 6540,
  'datetime': '4-8-19 21:25',
  'message': 'Lo est치is pasando bien o qu칠?',
  'user_id': 1},
 {'conversation_id': 6541,
  'datetime': '4-8-19 21:30',
  'message': '<Multimedia omitido>',
  'user_id': 0},
 {'conversation_id': 6542,
  'datetime': '4-8-19 21:30',
  'message': '游땍',
  'user_id': 1},
 {'conversation_id': 6543,
  'datetime': '4-8-19 22:10',
  'message': 'Que tal las vacaciones?',
  'user_id': 8},
 {'conversation_id': 6544,
  'datetime': '4-8-19 22:17',
  'message': 'Fant치sticas',
  'user_id': 0},
 {'conversation_id': 6545,
  'datetime': '4-8-19 23:35',
  'message': '<Multimedia omitido>',
  'user_id': 4},
 {'conversation_id': 6546,
  'datetime': '4-8-19 23:41',
  'message': 'Cuanto te queda de novacaciones',
  'user_id': 2},
 {'conversation_id': 6547,
  'datetime': '4-8-19 23:43',
  'message': '?? Qu칠 cuando voy a la playa? Que cuando voy al curro?',
  'user_id': 1}]

In [217]:
from textblob import TextBlob

In [5]:
a = y[1]['message']
a

'Triste realidad'

In [7]:
from classifier import *

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

Will download some functions from the nltk package if not found on the computer

[nltk_data] Downloading package punkt to /home/marlena/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [8]:
clf = SentimentClassifier()

In [14]:
clf.predict('Ivan')

0.541333260777616

In [268]:
url = 'http://translate.google.com/translate_a/t'
params = {
    "text": a, 
    "sl": "es", 
    "tl": "en", 
    "client": "p"
}
b = requests.get(url, params=params).text
b

'<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">\n<html>\n<head><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta name="viewport" content="initial-scale=1"><title>http://translate.google.com/translate_a/t?text=Triste+realidad&amp;sl=es&amp;tl=en&amp;client=p</title></head>\n<body style="font-family: arial, sans-serif; background-color: #fff; color: #000; padding:20px; font-size:18px;" onload="e=document.getElementById(\'captcha\');if(e){e.focus();}">\n<div style="max-width:400px;">\n<hr noshade size="1" style="color:#ccc; background-color:#ccc;"><br>\n<div style="font-size:13px;">\nOur systems have detected unusual traffic from your computer network.  Please try your request again later.  <a href="#" onclick="document.getElementById(\'infoDiv0\').style.display=\'block\';">Why did this happen?</a><br><br>\n<div id="infoDiv0" style="display:none; background-color:#eee; padding:10px; margin:0 0 15px 0; line-height:1.4em;">\nThis page appears when Google automatically detects requests coming from your computer network which appear to be in violation of the <a href="//www.google.com/policies/terms/">Terms of Service</a>. The block will expire shortly after those requests stop.<br><br>This traffic may have been sent by malicious software, a browser plug-in, or a script that sends automated requests.  If you share your network connection, ask your administrator for help &mdash; a different computer using the same IP address may be responsible.  <a href="//support.google.com/websearch/answer/86640">Learn more</a><br><br>Sometimes you may see this page if you are using advanced terms that robots are known to use, or sending requests very quickly.\n</div><br>\n\nIP address: 83.41.168.5<br>Time: 2020-02-23T20:47:34Z<br>URL: http://translate.google.com/translate_a/t?text=Triste+realidad&amp;sl=es&amp;tl=en&amp;client=p<br>\n</div>\n</div>\n</body>\n</html>\n'

In [ ]:
        en = trad.translate(from_lang="es",to="en")
        print(f"mensaje traducido{en}")

In [18]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [19]:
sid = SentimentIntensityAnalyzer()

In [109]:
sentimientos = []
for x in range(len(y)):
    mensaje = y[x]['message']
    analisis = sid.polarity_scores(mensaje)
    sentimientos.append(analisis)
sentimientos

[{'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': -0.296, 'neg': 0.355, 'neu': 0.645, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 0.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 0.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0}]

In [64]:
import requests

class Hola():
    def prueba(self,y,chat):
        sid = SentimentIntensityAnalyzer()
        sentimientos = []
        self.mensajes = []
        for x in range(len(y)):
            mensaje = y[x]['message']
            self.mensajes.append(mensaje)
            analisis = sid.polarity_scores(str(mensaje))
            sentimientos.append(analisis)
        neg = [x['neg'] for x in sentimientos if x['neg']+x['neu']+x['pos']+x['compound'] != 0.0]
        neu = [x['neu'] for x in sentimientos if x['neg']+x['neu']+x['pos']+x['compound'] != 0.0]
        pos = [x['pos'] for x in sentimientos if x['neg']+x['neu']+x['pos']+x['compound'] != 0.0]
        compound = [x['compound'] for x in sentimientos if x['neg']+x['neu']+x['pos']+x['compound'] != 0.0]
        prueba = f'''Chat on date {chat} was rated as: 
                                                {round((sum(pos)/len(pos))*100,2)}% Positive, 
                                                {round((sum(neg)/len(neg))*100,2)}% Negative, 
                                                {round((sum(neu)/len(neu))*100,2)}% Neutral'''

        if sum(compound)/len(compound) >= 0.05: 
            return prueba,'Chat Overall Rated As POSITIVE'
        elif sum(compound)/len(compound) <= - 0.05: 
            return prueba,'Chat Overall Rated As NEGATIVE'
        else: 
            return prueba,'\nChat Overall Rated As NEUTRAL'
    def prueba2(self):
        clf = SentimentClassifier()
        sentimientos = []
        for mensaje in self.mensajes:
            analisis = clf.predict(mensaje)
            sentimientos.append(analisis)
        average = sum(sentimientos)/len(sentimientos)
        if average <= 0.3:
            return 'Chat Overall Rated As NEGATIVE'
        elif average >= 0.7:
            return 'Chat Overall Rated As POSITIVE'
        else:
            return 'Chat Overall Rated As NEUTRAL'

In [65]:
s = Hola()
s.prueba(y,'22-02-2020')
s.prueba2()

'Chat Overall Rated As NEUTRAL'

In [22]:
prueba(y,'22-02-2020')

('Chat on date 22-02-2020 was rated as: \n                                            5.57% Positive, \n                                            5.04% Negative, \n                                            89.39% Neutral',
 '\nChat Overall Rated As NEUTRAL')

In [196]:
k

('Chat on date 22-02-2020 was rated as: \n                                            1.82% Positive, \n                                            3.69% Negative, \n                                            94.49% Neutral',
 '\nChat Overall Rated As NEUTRAL')

In [266]:
requests.get('http://localhost:5000//get/sentiments/from/25-11-19').json()

{'Negativity': '2.85%',
 'Neutrality': '96.47%',
 'Overall': 'NEUTRAL',
 'Positivity': '0.68%'}

In [134]:
mI = y
sentiments = []
for i in range(len(mI)):
    message = mI[i]['message']
    analysis = sid.polarity_scores(message)
    sentiments.append(analysis)
sentiments

[{'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': -0.296, 'neg': 0.355, 'neu': 0.645, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 0.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 0.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0}]

In [8]:
from bson.json_util import dumps
dumps(users.find())

'[{"_id": {"$oid": "5e51aadf626892ebcf7e96a3"}, "user_id": 0, "user_name": "Jorge"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96a4"}, "user_id": 1, "user_name": "Ivan"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96a5"}, "user_id": 2, "user_name": "Alvarito"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96a6"}, "user_id": 3, "user_name": "Pete"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96a7"}, "user_id": 4, "user_name": "Alvaro"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96a8"}, "user_id": 5, "user_name": "Eku"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96a9"}, "user_id": 6, "user_name": "Jose"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96aa"}, "user_id": 7, "user_name": "Anto\\u00f1ito"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96ab"}, "user_id": 8, "user_name": "Pinedo"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96ac"}, "user_id": 9, "user_name": "Rafa"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96ad"}, "user_id": 10, "user_name": "Laura"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96ae"}, "user_id": 11, "user_name": "Fonseca"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96af"}, "user_id": 12, "user_name": "Chema"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96b0"}, "user_id": 13, "user_name": "Marlena"}, {"_id": {"$oid": "5e51aadf626892ebcf7e96b1"}, "user_id": 14, "user_name": "Juli"}]'

In [72]:
y = list(conversations.find())
y = pd.DataFrame(y)
y['chat_id'].value_counts().head(239)

0      752
1      522
2      519
3      479
4      443
      ...
233     15
235     14
236     13
237     10
238      9
Name: chat_id, Length: 239, dtype: int64

In [109]:
y.to_csv('./OUTPUT/conversations.csv')

In [110]:
import json
from bson.json_util import dumps

with open('./OUTPUT/conversations.json', 'w') as f:
    json.dump(x, f)

In [8]:
len(users.distinct('user_id'))+1

1

In [24]:
import requests

In [49]:
requests.get("http://localhost:5000//createdatabase")

In [113]:
requests.get("http://localhost:5000//insertmessage/29-11-19/Marlena/29-11-19 20:58/Hola, que tal")

In [28]:
list(users.find({'user_name':'Marlena'}, {'user_id': 1,'_id':0}))[0]['user_id']

13

In [17]:
names = (users.distinct('name'))
names

['Alvarito',
 'Alvaro',
 'Anto침ito',
 'Chema',
 'Eku',
 'Fonseca',
 'Ivan',
 'Jorge',
 'Jose',
 'Juli',
 'Laura',
 'Marlena',
 'Pete',
 'Pinedo',
 'Rafa',
 'hola',
 'user-test']

In [88]:
list(users.find({'user_name':'Marlena'}, {'user_id': 1,'_id':0}))[0]['user_id']

13

In [60]:
from datetime import date
today = date.today()
today

datetime.date(2020, 2, 22)

In [66]:
from datetime import datetime

datetime.today().strftime('%d/%m/%Y')

'22/02/2020'

In [105]:
df

,Unnamed: 0,date,hour,users,messages
0,0,25/6/19,20:57,Alvarito,Isma sal de ahi
1,1,25/6/19,20:57,Alvarito,Sino caeras
2,2,25/6/19,21:11,Eku,Q va cabr칩n
3,3,25/6/19,21:11,Eku,C칩mo voy a caeer
4,4,25/6/19,21:11,Eku,"Por cierto, ayer el chiringuito, 1h de f칰tbol ..."
...,...,...,...,...,...
39928,41777,21/2/20,9:48,Jorge,A m칤 me ha castigado Dios con el resfriado. Qu...
39929,41786,21/2/20,9:49,Jorge,Solo a ti se te ocurre montar un plan con los ...
39930,41787,21/2/20,9:54,Alvarito,Que buenooo
39931,41788,21/2/20,9:54,Alvarito,Ummmmm nunca sabras q puede pasar
39932,41789,21/2/20,10:01,Pete,"cuento con anto침ito, a ver q logistica usa"

In [108]:
df['date2'] = df['date'].apply(lambda x: x.replace("/", "-"))

In [150]:
df

,Unnamed: 0,hour,users,messages,date
0,0,20:57,Alvarito,Isma sal de ahi,25-6-19
1,1,20:57,Alvarito,Sino caeras,25-6-19
2,2,21:11,Eku,Q va cabr칩n,25-6-19
3,3,21:11,Eku,C칩mo voy a caeer,25-6-19
4,4,21:11,Eku,"Por cierto, ayer el chiringuito, 1h de f칰tbol ...",25-6-19
...,...,...,...,...,...
39928,41777,9:48,Jorge,A m칤 me ha castigado Dios con el resfriado. Qu...,21-2-20
39929,41786,9:49,Jorge,Solo a ti se te ocurre montar un plan con los ...,21-2-20
39930,41787,9:54,Alvarito,Que buenooo,21-2-20
39931,41788,9:54,Alvarito,Ummmmm nunca sabras q puede pasar,21-2-20
39932,41789,10:01,Pete,"cuento con anto침ito, a ver q logistica usa",21-2-20

In [47]:
for index in range(len(df)):
    row = df.iloc[[index]]
    user = list(row['users'])
    date = list(row['date'])
    hour = list(row['hour'])
    message = list(row['messages'])
print(row)
print(user)
print(date)
print(hour)
print(message)

       Unnamed: 0   hour users                                    messages  \
39932       41789  10:01  Pete  cuento con anto침ito, a ver q logistica usa

          date
39932  21-2-20
['Pete']
['21-2-20']
['10:01']
['cuento con anto침ito, a ver q logistica usa']

In [48]:
message[0]

'cuento con anto침ito, a ver q logistica usa'

In [40]:
a = df.iloc[[0]]
b = list(a['users'])
b[0]

'Alvarito'

In [42]:
list(users.find({'user_name':b[0]}, {'user_id': 1,'_id':0}))[0]['user_id']

2

In [9]:
b = []
for i in range(len(date)):
    a = date[i]+' '+hour[i]
    b.append(a)
b

['25-6-19 20:57',
 '25-6-19 20:57',
 '25-6-19 21:11',
 '25-6-19 21:11',
 '25-6-19 21:11',
 '25-6-19 21:11',
 '25-6-19 21:19',
 '25-6-19 21:19',
 '25-6-19 21:23',
 '25-6-19 21:23',
 '25-6-19 21:23',
 '25-6-19 21:24',
 '25-6-19 21:24',
 '25-6-19 21:24',
 '25-6-19 21:24',
 '25-6-19 21:24',
 '25-6-19 21:25',
 '25-6-19 21:25',
 '25-6-19 21:25',
 '25-6-19 21:25',
 '25-6-19 21:26',
 '25-6-19 23:46',
 '26-6-19 0:05',
 '26-6-19 0:05',
 '26-6-19 0:06',
 '26-6-19 0:06',
 '26-6-19 0:19',
 '26-6-19 0:19',
 '26-6-19 0:20',
 '26-6-19 0:27',
 '26-6-19 1:03',
 '26-6-19 1:03',
 '26-6-19 1:04',
 '26-6-19 1:04',
 '26-6-19 1:04',
 '26-6-19 6:22',
 '26-6-19 6:23',
 '26-6-19 7:43',
 '26-6-19 7:43',
 '26-6-19 7:56',
 '26-6-19 7:56',
 '26-6-19 9:06',
 '26-6-19 9:22',
 '26-6-19 9:24',
 '26-6-19 9:26',
 '26-6-19 9:26',
 '26-6-19 9:26',
 '26-6-19 10:58',
 '26-6-19 10:58',
 '26-6-19 11:55',
 '26-6-19 11:55',
 '26-6-19 11:55',
 '26-6-19 11:56',
 '26-6-19 12:29',
 '26-6-19 12:45',
 '26-6-19 12:50',
 '26-6-19 13:17',
 '26-6-19 13:17',
 '26-6-19 13:18',
 '26-6-19 13:19',
 '26-6-19 13:19',
 '26-6-19 13:20',
 '26-6-19 13:21',
 '26-6-19 13:36',
 '26-6-19 13:40',
 '26-6-19 13:40',
 '26-6-19 13:41',
 '26-6-19 13:42',
 '26-6-19 13:42',
 '26-6-19 13:42',
 '26-6-19 13:42',
 '26-6-19 13:46',
 '26-6-19 13:46',
 '26-6-19 13:48',
 '26-6-19 13:49',
 '26-6-19 13:49',
 '26-6-19 13:49',
 '26-6-19 13:50',
 '26-6-19 13:52',
 '26-6-19 13:52',
 '26-6-19 13:53',
 '26-6-19 14:20',
 '26-6-19 14:24',
 '26-6-19 15:13',
 '26-6-19 16:08',
 '26-6-19 16:26',
 '26-6-19 16:26',
 '26-6-19 16:27',
 '26-6-19 16:29',
 '26-6-19 16:32',
 '26-6-19 16:42',
 '26-6-19 16:42',
 '26-6-19 16:42',
 '26-6-19 16:42',
 '26-6-19 16:43',
 '26-6-19 16:43',
 '26-6-19 16:43',
 '26-6-19 16:43',
 '26-6-19 16:43',
 '26-6-19 16:46',
 '26-6-19 16:46',
 '26-6-19 16:46',
 '26-6-19 16:46',
 '26-6-19 16:46',
 '26-6-19 16:46',
 '26-6-19 16:47',
 '26-6-19 16:47',
 '26-6-19 16:47',
 '26-6-19 16:48',
 '26-6-19 16:48',
 '26-6-19 16:48',
 '26-6-19 16:48',
 '26-6-19 16:48',
 '26-6-19 16:48',
 '26-6-19 16:49',
 '26-6-19 16:49',
 '26-6-19 16:49',
 '26-6-19 16:50',
 '26-6-19 16:50',
 '26-6-19 16:50',
 '26-6-19 16:51',
 '26-6-19 16:51',
 '26-6-19 16:53',
 '26-6-19 16:53',
 '26-6-19 16:55',
 '26-6-19 16:57',
 '26-6-19 16:57',
 '26-6-19 16:57',
 '26-6-19 17:07',
 '26-6-19 17:07',
 '26-6-19 17:08',
 '26-6-19 17:08',
 '26-6-19 17:08',
 '26-6-19 17:08',
 '26-6-19 17:09',
 '26-6-19 17:09',
 '26-6-19 17:09',
 '26-6-19 17:14',
 '26-6-19 17:15',
 '26-6-19 17:15',
 '26-6-19 17:15',
 '26-6-19 17:15',
 '26-6-19 17:15',
 '26-6-19 17:15',
 '26-6-19 17:16',
 '26-6-19 17:16',
 '26-6-19 17:16',
 '26-6-19 17:16',
 '26-6-19 17:17',
 '26-6-19 17:17',
 '26-6-19 17:17',
 '26-6-19 17:17',
 '26-6-19 17:17',
 '26-6-19 17:18',
 '26-6-19 17:19',
 '26-6-19 17:19',
 '26-6-19 17:19',
 '26-6-19 17:19',
 '26-6-19 17:19',
 '26-6-19 17:19',
 '26-6-19 17:19',
 '26-6-19 17:20',
 '26-6-19 17:20',
 '26-6-19 17:20',
 '26-6-19 17:20',
 '26-6-19 17:21',
 '26-6-19 17:21',
 '26-6-19 17:22',
 '26-6-19 17:23',
 '26-6-19 17:24',
 '26-6-19 17:24',
 '26-6-19 17:24',
 '26-6-19 17:25',
 '26-6-19 17:25',
 '26-6-19 17:25',
 '26-6-19 17:26',
 '26-6-19 17:26',
 '26-6-19 17:26',
 '26-6-19 17:26',
 '26-6-19 17:26',
 '26-6-19 17:27',
 '26-6-19 17:27',
 '26-6-19 17:27',
 '26-6-19 17:28',
 '26-6-19 17:28',
 '26-6-19 17:28',
 '26-6-19 17:28',
 '26-6-19 17:28',
 '26-6-19 17:30',
 '26-6-19 17:31',
 '26-6-19 17:31',
 '26-6-19 17:32',
 '26-6-19 17:32',
 '26-6-19 17:32',
 '26-6-19 17:32',
 '26-6-19 17:33',
 '26-6-19 17:33',
 '26-6-19 17:33',
 '26-6-19 17:34',
 '26-6-19 17:34',
 '26-6-19 17:34',
 '26-6-19 17:34',
 '26-6-19 17:34',
 '26-6-19 17:34',
 '26-6-19 17:34',
 '26-6-19 17:35',
 '26-6-19 17:35',
 '26-6-19 17:35',
 '26-6-19 17:36',
 '26-6-19 17:37',
 '26-6-19 17:37',
 '26-6-19 17:37',
 '26-6-19 17:37',
 '26-6-19 17:38',
 '26-6-19 17:42',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:43',
 '26-6-19 17:44',
 '26-6-19 17:44',
 '26-6-19 18:38',
 '26-6-19 18:42',
 '26-6-19 18:59',
 '26-6-19 19:59',
 '26-6-19 19:59',
 '26-6-19 19:59',
 '26-6-19 20:04',
 '26-6-19 20:04',
 '26-6-19 20:05',
 '26-6-19 20:05',
 '26-6-19 20:05',
 '26-6-19 20:05',
 '26-6-19 20:05',
 '26-6-19 20:06',
 '26-6-19 20:07',
 '26-6-19 20:07',
 '26-6-19 20:08',
 '26-6-19 20:08',
 '26-6-19 20:08',
 '26-6-19 20:09',
 '26-6-19 20:10',
 '26-6-19 20:12',
 '26-6-19 20:15',
 '26-6-19 20:16',
 '26-6-19 20:24',
 '26-6-19 20:42',
 '26-6-19 20:44',
 '26-6-19 20:54',
 '26-6-19 20:54',
 '26-6-19 20:55',
 '26-6-19 21:01',
 '26-6-19 21:01',
 '26-6-19 23:00',
 '26-6-19 23:01',
 '26-6-19 23:01',
 '27-6-19 0:04',
 '27-6-19 0:05',
 '27-6-19 0:05',
 '27-6-19 0:06',
 '27-6-19 0:06',
 '27-6-19 0:07',
 '27-6-19 0:07',
 '27-6-19 0:09',
 '27-6-19 0:12',
 '27-6-19 0:12',
 '27-6-19 0:12',
 '27-6-19 0:13',
 '27-6-19 0:14',
 '27-6-19 0:15',
 '27-6-19 0:15',
 '27-6-19 0:16',
 '27-6-19 0:16',
 '27-6-19 0:16',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:17',
 '27-6-19 0:18',
 '27-6-19 0:18',
 '27-6-19 7:54',
 '27-6-19 7:54',
 '27-6-19 7:54',
 '27-6-19 7:54',
 '27-6-19 7:54',
 '27-6-19 7:54',
 '27-6-19 8:02',
 '27-6-19 8:02',
 '27-6-19 8:04',
 '27-6-19 8:06',
 '27-6-19 8:06',
 '27-6-19 8:07',
 '27-6-19 8:08',
 '27-6-19 8:09',
 '27-6-19 8:09',
 '27-6-19 8:10',
 '27-6-19 8:10',
 '27-6-19 8:10',
 '27-6-19 8:10',
 '27-6-19 8:10',
 '27-6-19 8:11',
 '27-6-19 8:18',
 '27-6-19 8:23',
 '27-6-19 8:23',
 '27-6-19 8:31',
 '27-6-19 8:31',
 '27-6-19 8:31',
 '27-6-19 8:39',
 '27-6-19 8:40',
 '27-6-19 8:40',
 '27-6-19 8:40',
 '27-6-19 8:41',
 '27-6-19 8:41',
 '27-6-19 8:41',
 '27-6-19 8:53',
 '27-6-19 8:53',
 '27-6-19 8:59',
 '27-6-19 8:59',
 '27-6-19 9:08',
 '27-6-19 9:11',
 '27-6-19 9:14',
 '27-6-19 9:15',
 '27-6-19 11:09',
 '27-6-19 11:09',
 '27-6-19 11:09',
 '27-6-19 11:09',
 '27-6-19 11:11',
 '27-6-19 11:12',
 '27-6-19 11:12',
 '27-6-19 11:12',
 '27-6-19 11:12',
 '27-6-19 11:12',
 '27-6-19 11:13',
 '27-6-19 11:14',
 '27-6-19 11:14',
 '27-6-19 11:15',
 '27-6-19 11:16',
 '27-6-19 11:16',
 '27-6-19 11:16',
 '27-6-19 11:19',
 '27-6-19 11:19',
 '27-6-19 11:19',
 '27-6-19 11:19',
 '27-6-19 11:19',
 '27-6-19 11:22',
 '27-6-19 11:24',
 '27-6-19 11:33',
 '27-6-19 11:33',
 '27-6-19 11:33',
 '27-6-19 11:33',
 '27-6-19 11:33',
 '27-6-19 11:33',
 '27-6-19 11:34',
 '27-6-19 11:34',
 '27-6-19 11:34',
 '27-6-19 11:34',
 '27-6-19 11:34',
 '27-6-19 11:34',
 '27-6-19 11:35',
 '27-6-19 11:35',
 '27-6-19 11:35',
 '27-6-19 11:35',
 '27-6-19 11:35',
 '27-6-19 11:36',
 '27-6-19 12:05',
 '27-6-19 12:05',
 '27-6-19 12:06',
 '27-6-19 12:06',
 '27-6-19 12:07',
 '27-6-19 12:07',
 '27-6-19 12:09',
 '27-6-19 12:09',
 '27-6-19 12:09',
 '27-6-19 12:09',
 '27-6-19 12:09',
 '27-6-19 12:10',
 '27-6-19 12:10',
 '27-6-19 12:11',
 '27-6-19 12:11',
 '27-6-19 12:15',
 '27-6-19 12:15',
 '27-6-19 12:15',
 '27-6-19 12:16',
 '27-6-19 12:16',
 '27-6-19 12:16',
 '27-6-19 12:16',
 '27-6-19 12:16',
 '27-6-19 12:16',
 '27-6-19 12:17',
 '27-6-19 12:17',
 '27-6-19 12:18',
 '27-6-19 12:18',
 '27-6-19 12:18',
 '27-6-19 12:18',
 '27-6-19 12:18',
 '27-6-19 12:18',
 '27-6-19 12:19',
 '27-6-19 12:19',
 '27-6-19 12:20',
 '27-6-19 12:20',
 '27-6-19 12:20',
 '27-6-19 12:21',
 '27-6-19 12:21',
 '27-6-19 12:22',
 '27-6-19 12:22',
 '27-6-19 13:19',
 '27-6-19 13:20',
 '27-6-19 13:20',
 '27-6-19 13:20',
 '27-6-19 15:09',
 '27-6-19 15:09',
 '27-6-19 15:19',
 '27-6-19 15:19',
 '27-6-19 15:23',
 '27-6-19 15:49',
 '27-6-19 15:49',
 '27-6-19 15:49',
 '27-6-19 15:49',
 '27-6-19 15:50',
 '27-6-19 15:50',
 '27-6-19 15:50',
 '27-6-19 16:06',
 '27-6-19 16:06',
 '27-6-19 16:06',
 '27-6-19 16:17',
 '27-6-19 16:19',
 '27-6-19 16:21',
 '27-6-19 16:38',
 '27-6-19 16:38',
 '27-6-19 16:38',
 '27-6-19 16:43',
 '27-6-19 16:43',
 '27-6-19 16:44',
 '27-6-19 16:44',
 '27-6-19 16:44',
 '27-6-19 16:44',
 '27-6-19 16:44',
 '27-6-19 16:44',
 '27-6-19 16:44',
 '27-6-19 16:45',
 '27-6-19 16:45',
 '27-6-19 16:46',
 '27-6-19 16:46',
 '27-6-19 16:46',
 '27-6-19 16:46',
 '27-6-19 16:47',
 '27-6-19 16:47',
 '27-6-19 16:47',
 '27-6-19 16:47',
 '27-6-19 16:47',
 '27-6-19 16:47',
 '27-6-19 16:56',
 '27-6-19 16:57',
 '27-6-19 16:57',
 '27-6-19 16:57',
 '27-6-19 16:59',
 '27-6-19 17:05',
 '27-6-19 17:05',
 '27-6-19 17:06',
 '27-6-19 17:06',
 '27-6-19 17:06',
 '27-6-19 17:07',
 '27-6-19 17:07',
 '27-6-19 17:08',
 '27-6-19 17:08',
 '27-6-19 17:08',
 '27-6-19 17:08',
 '27-6-19 17:08',
 '27-6-19 17:09',
 '27-6-19 17:09',
 '27-6-19 17:09',
 '27-6-19 17:09',
 '27-6-19 17:10',
 '27-6-19 17:10',
 '27-6-19 17:10',
 '27-6-19 17:10',
 '27-6-19 17:11',
 '27-6-19 17:15',
 '27-6-19 17:17',
 '27-6-19 17:18',
 '27-6-19 17:20',
 '27-6-19 17:23',
 '27-6-19 17:23',
 '27-6-19 17:24',
 '27-6-19 17:24',
 '27-6-19 17:24',
 '27-6-19 17:32',
 '27-6-19 17:33',
 '27-6-19 17:35',
 '27-6-19 17:35',
 '27-6-19 17:35',
 '27-6-19 17:36',
 '27-6-19 17:37',
 '27-6-19 17:50',
 '27-6-19 17:50',
 '27-6-19 17:50',
 '27-6-19 17:52',
 '27-6-19 17:52',
 '27-6-19 17:52',
 '27-6-19 17:55',
 '27-6-19 17:55',
 '27-6-19 17:55',
 '27-6-19 17:57',
 '27-6-19 17:57',
 '27-6-19 17:57',
 '27-6-19 18:04',
 '27-6-19 18:08',
 '27-6-19 18:09',
 '27-6-19 18:11',
 '27-6-19 18:11',
 '27-6-19 18:11',
 '27-6-19 18:11',
 '27-6-19 18:11',
 '27-6-19 18:13',
 '27-6-19 18:13',
 '27-6-19 18:13',
 '27-6-19 18:13',
 '27-6-19 18:13',
 '27-6-19 18:13',
 '27-6-19 18:14',
 '27-6-19 18:14',
 '27-6-19 18:14',
 '27-6-19 18:15',
 '27-6-19 19:49',
 '27-6-19 19:50',
 '27-6-19 20:25',
 '27-6-19 20:25',
 '27-6-19 20:25',
 '27-6-19 20:26',
 '27-6-19 20:26',
 '27-6-19 20:26',
 '27-6-19 20:26',
 '27-6-19 20:26',
 '27-6-19 21:38',
 '27-6-19 21:38',
 '27-6-19 21:38',
 '27-6-19 22:58',
 '28-6-19 9:32',
 '28-6-19 9:38',
 '28-6-19 9:42',
 '28-6-19 9:42',
 '28-6-19 9:42',
 '28-6-19 9:43',
 '28-6-19 9:43',
 '28-6-19 9:44',
 '28-6-19 9:45',
 '28-6-19 9:45',
 '28-6-19 9:46',
 '28-6-19 9:46',
 '28-6-19 9:46',
 '28-6-19 9:47',
 '28-6-19 9:47',
 '28-6-19 9:47',
 '28-6-19 9:47',
 '28-6-19 9:47',
 '28-6-19 9:47',
 '28-6-19 9:48',
 '28-6-19 9:48',
 '28-6-19 9:52',
 '28-6-19 9:52',
 '28-6-19 9:55',
 '28-6-19 9:58',
 '28-6-19 10:01',
 '28-6-19 10:01',
 '28-6-19 10:01',
 '28-6-19 10:12',
 '28-6-19 10:12',
 '28-6-19 10:12',
 '28-6-19 10:52',
 '28-6-19 10:52',
 '28-6-19 10:52',
 '28-6-19 10:52',
 '28-6-19 11:14',
 '28-6-19 11:40',
 '28-6-19 11:43',
 '28-6-19 11:45',
 '28-6-19 11:46',
 '28-6-19 12:12',
 '28-6-19 13:14',
 '28-6-19 13:17',
 '28-6-19 13:32',
 '28-6-19 13:32',
 '28-6-19 13:33',
 '28-6-19 13:33',
 '28-6-19 13:33',
 '28-6-19 13:34',
 '28-6-19 13:34',
 '28-6-19 13:36',
 '28-6-19 13:36',
 '28-6-19 13:42',
 '28-6-19 13:43',
 '28-6-19 13:43',
 '28-6-19 14:06',
 '28-6-19 16:21',
 '28-6-19 16:21',
 '28-6-19 16:21',
 '28-6-19 16:21',
 '28-6-19 22:15',
 '28-6-19 22:16',
 '28-6-19 22:25',
 '28-6-19 22:25',
 '28-6-19 22:33',
 '28-6-19 22:33',
 '28-6-19 22:33',
 '28-6-19 22:42',
 '28-6-19 22:43',
 '28-6-19 22:44',
 '28-6-19 22:44',
 '28-6-19 22:45',
 '28-6-19 22:46',
 '28-6-19 22:46',
 '28-6-19 23:32',
 '28-6-19 23:33',
 '28-6-19 23:44',
 '28-6-19 23:44',
 '28-6-19 23:45',
 '28-6-19 23:50',
 '28-6-19 23:50',
 '28-6-19 23:50',
 '28-6-19 23:51',
 '28-6-19 23:51',
 '28-6-19 23:51',
 '28-6-19 23:51',
 '28-6-19 23:57',
 '28-6-19 23:57',
 '28-6-19 23:57',
 '28-6-19 23:57',
 '28-6-19 23:57',
 '28-6-19 23:57',
 '29-6-19 0:01',
 '29-6-19 0:03',
 '29-6-19 0:14',
 '29-6-19 0:16',
 '29-6-19 0:16',
 '29-6-19 0:19',
 '29-6-19 0:46',
 '29-6-19 1:10',
 '29-6-19 1:11',
 '29-6-19 1:14',
 '29-6-19 1:19',
 '29-6-19 1:19',
 '29-6-19 1:28',
 '29-6-19 1:31',
 '29-6-19 1:31',
 '29-6-19 2:02',
 '29-6-19 2:14',
 '29-6-19 2:14',
 '29-6-19 2:14',
 '29-6-19 2:14',
 '29-6-19 2:14',
 '29-6-19 2:15',
 '29-6-19 2:15',
 '29-6-19 2:18',
 '29-6-19 2:45',
 '29-6-19 3:18',
 '29-6-19 10:33',
 '29-6-19 11:07',
 '29-6-19 11:07',
 '29-6-19 11:07',
 '29-6-19 11:07',
 '29-6-19 11:18',
 '29-6-19 11:30',
 '29-6-19 11:30',
 '29-6-19 11:30',
 '29-6-19 11:30',
 '29-6-19 11:47',
 '29-6-19 12:08',
 '29-6-19 12:22',
 '29-6-19 12:51',
 '29-6-19 12:59',
 '29-6-19 12:59',
 '29-6-19 13:04',
 '29-6-19 13:04',
 '29-6-19 13:04',
 '29-6-19 13:04',
 '29-6-19 13:08',
 '29-6-19 13:08',
 '29-6-19 13:09',
 '29-6-19 13:35',
 '29-6-19 15:31',
 '29-6-19 15:31',
 '29-6-19 15:31',
 '29-6-19 15:33',
 '29-6-19 15:34',
 '29-6-19 15:36',
 '29-6-19 15:36',
 '29-6-19 15:37',
 '29-6-19 15:59',
 '29-6-19 16:20',
 '29-6-19 16:52',
 '29-6-19 16:52',
 '29-6-19 17:05',
 '29-6-19 17:26',
 '29-6-19 17:26',
 '29-6-19 17:27',
 '29-6-19 17:28',
 '29-6-19 17:29',
 '29-6-19 17:30',
 '29-6-19 17:48',
 '29-6-19 17:54',
 '29-6-19 17:56',
 '29-6-19 17:57',
 '29-6-19 17:58',
 '29-6-19 18:15',
 '29-6-19 18:15',
 '29-6-19 22:23',
 '29-6-19 22:24',
 '29-6-19 22:24',
 '29-6-19 22:26',
 '29-6-19 22:26',
 '29-6-19 22:27',
 '29-6-19 22:27',
 '29-6-19 22:34',
 '29-6-19 22:34',
 '29-6-19 22:49',
 '29-6-19 23:06',
 '29-6-19 23:06',
 '30-6-19 3:18',
 '30-6-19 3:18',
 '30-6-19 3:18',
 '30-6-19 3:18',
 '30-6-19 8:32',
 '30-6-19 11:43',
 '30-6-19 11:44',
 '30-6-19 11:44',
 '30-6-19 11:58',
 '30-6-19 11:59',
 '30-6-19 11:59',
 '30-6-19 11:59',
 '30-6-19 12:10',
 '30-6-19 12:12',
 '30-6-19 12:12',
 '30-6-19 12:27',
 '30-6-19 12:28',
 '30-6-19 12:49',
 '30-6-19 13:11',
 '30-6-19 13:34',
 '30-6-19 13:35',
 '30-6-19 13:35',
 '30-6-19 14:34',
 '30-6-19 14:35',
 '30-6-19 14:35',
 '30-6-19 14:41',
 '30-6-19 14:42',
 '30-6-19 14:42',
 '30-6-19 14:43',
 '30-6-19 14:57',
 '30-6-19 15:00',
 '30-6-19 19:10',
 '30-6-19 19:10',
 '30-6-19 19:10',
 '30-6-19 21:06',
 '30-6-19 21:20',
 '30-6-19 21:38',
 '30-6-19 21:38',
 '30-6-19 22:29',
 '30-6-19 22:30',
 '30-6-19 22:30',
 '30-6-19 22:31',
 '30-6-19 22:31',
 '30-6-19 22:32',
 '30-6-19 22:32',
 '30-6-19 22:32',
 '30-6-19 22:53',
 '30-6-19 22:53',
 '30-6-19 23:00',
 '30-6-19 23:10',
 '30-6-19 23:10',
 '1-7-19 0:41',
 '1-7-19 1:00',
 '1-7-19 1:38',
 '1-7-19 1:38',
 '1-7-19 1:39',
 '1-7-19 1:39',
 '1-7-19 1:41',
 '1-7-19 1:41',
 '1-7-19 1:41',
 '1-7-19 1:41',
 '1-7-19 1:42',
 '1-7-19 1:42',
 '1-7-19 1:42',
 '1-7-19 1:42',
 '1-7-19 1:42',
 '1-7-19 1:42',
 '1-7-19 1:42',
 '1-7-19 1:43',
 '1-7-19 1:43',
 '1-7-19 1:43',
 '1-7-19 1:43',
 '1-7-19 1:43',
 '1-7-19 1:53',
 '1-7-19 11:01',
 '1-7-19 11:02',
 '1-7-19 11:02',
 '1-7-19 11:02',
 '1-7-19 11:02',
 '1-7-19 11:03',
 '1-7-19 11:06',
 '1-7-19 11:25',
 '1-7-19 11:25',
 '1-7-19 11:29',
 '1-7-19 16:32',
 '1-7-19 18:43',
 '1-7-19 18:44',
 '1-7-19 18:45',
 '1-7-19 18:45',
 '1-7-19 18:45',
 '1-7-19 18:46',
 '1-7-19 18:46',
 '1-7-19 18:48',
 '1-7-19 18:48',
 '1-7-19 18:48',
 '1-7-19 18:54',
 '1-7-19 18:54',
 '1-7-19 18:55',
 '1-7-19 19:00',
 '1-7-19 19:01',
 '1-7-19 19:07',
 '1-7-19 19:07',
 '1-7-19 19:07',
 '1-7-19 19:13',
 '1-7-19 19:25',
 '1-7-19 19:25',
 '1-7-19 19:26',
 '1-7-19 19:26',
 '1-7-19 19:27',
 '1-7-19 19:27',
 '1-7-19 19:33',
 '1-7-19 19:33',
 '1-7-19 19:41',
 '1-7-19 19:41',
 '1-7-19 19:42',
 '1-7-19 19:42',
 '1-7-19 19:43',
 '1-7-19 19:45',
 '1-7-19 19:45',
 '1-7-19 19:46',
 '1-7-19 19:46',
 '1-7-19 19:54',
 '1-7-19 19:54',
 '1-7-19 19:59',
 '1-7-19 19:59',
 '1-7-19 20:00',
 '1-7-19 20:00',
 '1-7-19 20:00',
 '1-7-19 20:02',
 '1-7-19 20:11',
 '1-7-19 20:12',
 '1-7-19 20:36',
 '1-7-19 20:37',
 '1-7-19 20:40',
 '1-7-19 20:44',
 '1-7-19 21:50',
 '1-7-19 21:50',
 '1-7-19 21:50',
 '1-7-19 21:50',
 '1-7-19 21:50',
 '1-7-19 21:50',
 '1-7-19 21:52',
 '1-7-19 21:59',
 '1-7-19 22:01',
 '1-7-19 22:15',
 '1-7-19 22:26',
 '1-7-19 23:25',
 '1-7-19 23:26',
 '1-7-19 23:26',
 '1-7-19 23:32',
 '1-7-19 23:32',
 '1-7-19 23:32',
 '1-7-19 23:32',
 '1-7-19 23:32',
 '1-7-19 23:32',
 '1-7-19 23:32',
 '1-7-19 23:33',
 '1-7-19 23:33',
 '1-7-19 23:33',
 '1-7-19 23:33',
 '1-7-19 23:34',
 '1-7-19 23:35',
 '1-7-19 23:35',
 '1-7-19 23:35',
 '1-7-19 23:42',
 '1-7-19 23:42',
 '1-7-19 23:43',
 '1-7-19 23:43',
 '1-7-19 23:43',
 '1-7-19 23:43',
 '1-7-19 23:43',
 '1-7-19 23:43',
 '1-7-19 23:43',
 '1-7-19 23:44',
 '1-7-19 23:45',
 '1-7-19 23:45',
 '1-7-19 23:45',
 '1-7-19 23:46',
 '1-7-19 23:47',
 '1-7-19 23:50',
 '1-7-19 23:54',
 '1-7-19 23:54',
 '1-7-19 23:57',
 '2-7-19 6:49',
 '2-7-19 7:12',
 '2-7-19 7:17',
 '2-7-19 7:17',
 '2-7-19 7:17',
 '2-7-19 7:17',
 '2-7-19 7:18',
 '2-7-19 7:18',
 '2-7-19 7:20',
 '2-7-19 7:20',
 '2-7-19 8:08',
 '2-7-19 8:20',
 '2-7-19 8:20',
 '2-7-19 9:22',
 '2-7-19 9:22',
 '2-7-19 10:41',
 '2-7-19 10:41',
 '2-7-19 10:42',
 '2-7-19 10:42',
 '2-7-19 11:03',
 '2-7-19 11:08',
 '2-7-19 11:18',
 '2-7-19 11:19',
 '2-7-19 11:19',
 '2-7-19 11:19',
 '2-7-19 11:19',
 '2-7-19 11:19',
 '2-7-19 11:20',
 '2-7-19 11:22',
 '2-7-19 11:22',
 '2-7-19 11:22',
 '2-7-19 11:22',
 '2-7-19 11:23',
 '2-7-19 11:23',
 '2-7-19 11:23',
 '2-7-19 11:23',
 '2-7-19 11:23',
 '2-7-19 11:23',
 '2-7-19 11:23',
 '2-7-19 11:24',
 '2-7-19 11:24',
 '2-7-19 11:24',
 '2-7-19 11:24',
 '2-7-19 11:25',
 '2-7-19 11:25',
 '2-7-19 11:34',
 '2-7-19 11:34',
 '2-7-19 11:34',
 '2-7-19 11:37',
 '2-7-19 11:45',
 '2-7-19 11:45',
 '2-7-19 11:45',
 '2-7-19 11:46',
 '2-7-19 11:46',
 '2-7-19 11:46',
 '2-7-19 11:46',
 '2-7-19 11:46',
 '2-7-19 11:47',
 '2-7-19 11:47',
 '2-7-19 11:47',
 '2-7-19 11:47',
 '2-7-19 11:48',
 '2-7-19 11:48',
 '2-7-19 11:48',
 '2-7-19 11:48',
 '2-7-19 11:49',
 '2-7-19 11:49',
 '2-7-19 11:49',
 '2-7-19 11:50',
 '2-7-19 11:51',
 '2-7-19 11:51',
 '2-7-19 11:51',
 '2-7-19 11:51',
 '2-7-19 11:53',
 '2-7-19 11:53',
 '2-7-19 11:53',
 '2-7-19 11:55',
 '2-7-19 11:55',
 '2-7-19 11:55',
 '2-7-19 11:57',
 '2-7-19 11:57',
 '2-7-19 11:58',
 '2-7-19 11:58',
 '2-7-19 11:58',
 '2-7-19 12:10',
 '2-7-19 12:11',
 '2-7-19 12:11',
 '2-7-19 12:11',
 '2-7-19 12:11',
 '2-7-19 12:34',
 ...]

In [45]:
a = ['25-6-19']
b = ['20:57']
c = a + b
c

['25-6-19', '20:57']

In [71]:
a = {
    'a':5,
    'b':4,
    'c':9
}
b = pd.DataFrame(a,index=[0])
b.T

   0
a  5
b  4
c  9

In [1]:
mensajes = {}
for x in range(5):
    notas = []
    for x in range(5):
        notas.append(x)
    average = sum(notas)/len(notas)
    mensajes['x'] = average
mensajes

{'x': 2.0}